# Block everything by default
*

# Allow directory traversal so git can see into subfolders
!*/

# Allow only what belongs to the repo
!README.md
!.gitignore

!Icons/
!Icons/InstantProfiler.png

!src/
!src/InstantProfiler.py
